.containerDispositivo{
  
}

.titulo {
    text-align: center;
  }
  
  body h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .containerForm{
    display: flex;
    flex-direction: column;
    
  }

