.dados {
  text-align: center;
}

.voltar {
 text-align: center;
}

.entrada {
  text-align: center;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botaoEnviar{
  display: flex;
  align-items: center;
}