.todo {
  text-align: center;
  }

  .todo h1{
    margin-bottom: 100px;
  }

form {
  align-items:center;
  font-size: 30px;
}

.buttons form {

  font-size: 30px;
  margin: 10px;
}

.voltar {
  margin-bottom: 10px;
}