header {
  height: 60px;
  width: 100vw;
  background-color: var(--color-primary);
  display: flex;
}
.container {
  display: flex;
  justify-content: space-between;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  color: rgb(21, 20, 95);
}

.container-title h1 {
  margin: 0%;
  font-weight: 700;
  font-size: 24px;
}

.container-gitImg {
  display: flex;
  align-items: center;
}

.container-link-gitName {
  margin: 0 0 0 10px;
  font-size: 13px;
}
