.menu {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-secundary);
  width: 100vw;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.menuH1 {
  text-align: center;
  font-family: 'Courier New', monospace;
  font-weight: 400;
  color: var(--color-primary);
  position: relative;
  animation: raio-animacao 1.5s linear infinite;
}


.containerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;

}


.btnInput {
  border-radius: 15%;
  margin: 8px;
  width: 170px;
  height: 43.5px;
  font-size: 20px;

}

.btnClienteImagem {
  background-image: url('/src/assets/img/cliente1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 140px;
  width: 120px;

}


.btnClienteImagem:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


.btnDispositivoImagem {
  background-image: url('/src/assets/img/figuras/dispositivos8.png');
  background-size: contain;
  background-position: center;
  mix-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;

  background-repeat: no-repeat;
  height: 140px;
  width: 130px;
}


.btnDispositivoImagem:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


.btnOrcamentosImagem {
  background-image: url('/src/assets/img/orcamento8.png');
  background-size: contain;
  background-position: center;
  mix-blend-mode: multiply;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 140px;
  width: 120px;
}


.btnOrcamentosImagem img {
  mix-blend-mode: multiply;
}

.btnOrcamentosImagem:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


.btnServicosImagem {
  background-image: url('/src/assets/img/call-8602325_1280.png');
  background-position: center;
  background-color: transparent;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 140px;
  width: 140px;


}

.btnServicosImagem:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


.menu h1 {
  font-size: 50px;
}

