.menu{
  background-image: url('/src/assets/img/menuFundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.menuH1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 80px;
  
}

.btnCliente {
  align-items: center;
  display: flex;
  font-size: 30px;
  margin-bottom: 10px;


  justify-content: center;
}

.btnDispositivo {
  justify-content: center;
  display:grid;
  font-size: 30px;
  margin-bottom: 10px;
}

.btnOrcamentos {
  justify-content:center;
  font-size: 30px;
  display: grid;
}
