@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
  
  --color-primary: rgb(82, 209, 82);
  --color-secundary: #ddf0d7;
  --select-background:rgb(82, 209, 82);


}

.verde-thema{
  
   --color-primary: #008567;
   --color-secundary: #dce9e2;
   --select-background:#008567;

}

.lilas-thema{
 
 --color-primary: #8359fd;
 --color-secundary: #e2e2e2;
 --select-background: #8359fd;
}

.marron-thema{

  
  --color-primary: #7b6349;
  --color-secundary: #fed7aa;
  --select-background:#7b6349;
 

}

.black-thema{
  
   --color-primary: #1e1e1e;
   --color-secundary: #8257e5;   
   --select-background:#1e1e1e;
 
}

.amarelo-thema{
  
  --color-primary: #ffc700;
  --color-secundary: #525252;   
  --select-background:#ffc700;
 
}

* {
  box-sizing: border-box;

  
  
}

@keyframes raio-animacao {

  0%,
  100% {
    text-shadow: 0 0 10px var(--color-primary), 0 0 20px var(--color-primary), 0 0 30px var(--color-primary), 0 0 40px var(--color-primary), 0 0 50px var(--color-primary), 0 0 60px var(--color-primary), 0 0 70px var(--color-primary);
  }

  50% {
    text-shadow: 0 0 5px var(--color-primary), 0 0 10px var(--color-primary), 0 0 15px var(--color-primary), 0 0 20px var(--color-primary), 0 0 25px var(--color-primary), 0 0 30px var(--color-primary), 0 0 35px var(--color-primary);
  }

}

html,

section,
main {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


}


.containerForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(196, 197, 142, 0.295);
  width: 500px;
  

  border-radius: 15px;
  color: rgb(10, 10, 10);

}


.inputForm {
  border-radius: 8px;
  width: 320px;
  height: 35px;

}

.entradaDados {
  height: 30px;

}


.containerButtons {
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.containerButtons button {

  border-radius: 15%;
  width: 190px;
  margin: 0.4rem ;

}

label {
  color: var(--color-primary);
  align-items: flex-start;
  font-weight: 500;
}




.mensagem {
  color: rgb(219, 15, 8);
  animation: raio-animacao 1.5s linear infinite;
  font-size: 29px;

}

.containerButtons button:hover {
 background-color:var(--color-primary)
}


.titulo {
  color: blue;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
  font-family: 'Courier New', monospace;
  font-size: 40px;
  animation: raio-animacao 1.5s linear infinite;
}

.btnIcone{
display: flex;
align-items: center;
justify-content: center;
margin: 23px;

}

.btnIcone button{

  border-radius: 15%;
  width: 140px;
  font-weight: 500;
  color: var(--color-secundary);
  background-color: var(--select-background);
}


.btnIcone button:hover{
background-color: var(--color-primary);
}

@media(max-width:768px) {

  .titulo {
    font-size: 30px;
  }

  .containerButtons {
    font-size: 20px;

  }



}