@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #93b379;

}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,

section ,main {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  width: 100vw;

min-height: 100%;
  


}


.containerForm {
  display: flex;
  align-items: center;
  flex-direction: column;
 
  background-color: rgba(227, 235, 226, 0.295);
  width: 500px;
  height:100h;
  border-radius: 15px;
  color: rgb(10, 10, 10);
 

 


  
}

.inputForm {
  border-radius: 8px;
  width: 320px;
  height: 35px;

}

.entradaDados {
  height: 30px;
}


.containerButtons {
  font-size: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


  
  
}

.containerButtons button{

  border-radius: 15%;
  width: 190px;
  margin: 0.4rem;
  
  
}

label {
  color: rgb(27, 3, 54);
  animation: raio-animacao 1.5s linear infinite; 
}


.mensagem{
  color: rgb(219, 15, 8);
  animation: raio-animacao 1.5s linear infinite; 
  font-size: 29px;

}

.containerButtons button:hover{
  background-color: #0F0;
}


.titulo {
  color: blue;
  text-align: center;


  padding: 3rem;

  font-family: 'Courier New', monospace;
  font-size: 50px;
  font-weight: 400;

  position: relative;
  animation: raio-animacao 1.5s linear infinite;
}

@keyframes raio-animacao {

  0%,
  100% {
    text-shadow: 0 0 10px #0F0, 0 0 20px #0F0, 0 0 30px #0F0, 0 0 40px #0F0, 0 0 50px #0F0, 0 0 60px #0F0, 0 0 70px #0F0;
  }

  50% {
    text-shadow: 0 0 5px #0F0, 0 0 10px #0F0, 0 0 15px #0F0, 0 0 20px #0F0, 0 0 25px #0F0, 0 0 30px #0F0, 0 0 35px #0F0;
  }


}

