.containerCliente{
  height: auto;
  padding: 2em;
}

.titulo h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
}

.busca {
  text-align: center;
  display: block;
}

.btnCodigo {
  display: block;
  margin-bottom: 10px;
  margin-top: 50px;
}

.btnCodigo h6{
  margin-top: 10px;
}

.btnCodigo form{
  margin-top: 10px;
}

.voltar {
  margin-bottom: 20px;
  margin-top: 60px;
}

form {
  align-items: center;
}
